:root
{
    --font-size-normal:              15px;
    --font-size-code:                13.5px;
    --font-size-side-dock:           13.5px;
    --font-size-side-dock-title:     15px;
    --font-size-status-bar:          12px;
    --font-size-h1:                  23px;
    --font-size-h2:                  22px;
    --font-size-h3:                  21px;
    --font-size-h4:                  20px;
    --font-size-h5:                  19px;
    --font-size-h6:                  18px;
    --font-family-editor:            Avenir, Avenir Next, sans-serif;
    --font-family-preview:           Avenir, Avenir Next, sans-serif;
} 

.theme-light,
.theme-dark {
  --background-primary: #004643;
  --background-primary-alt: #001e1d;
  --background-secondary: #003331;
  --background-secondary-alt: #001e1d;
  --background-accent: #fff;
  --background-modifier-border: #abd1c6;
  --background-modifier-form-field: rgba(0, 0, 0, 0.9);
  --background-modifier-form-field-highlighted: #003331;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-success: #A4E7C3;
  --background-modifier-error: #e68787;
  --background-modifier-error-rgb: 230, 135, 135;
  --background-modifier-error-hover: #FF9494;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  --text-accent: #f9bc60;
  --text-accent-hover: #e16162;
  --text-normal: #e8e4e6;
  --text-muted: #abd1c6;
  --text-faint: #488473;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-error: #800000;
  --text-error-hover: #990000;
  --text-selection: #6bae9b;
  --text-on-accent: #dcddde;
  --interactive-normal: #004643;
  --interactive-hover: #e9e9e9;
  --interactive-accent: #488473;
  --interactive-accent-rgb: 123, 108, 217;
  --interactive-accent-hover: #e16162;
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);

  --text-title-h1:              #d65d0e;
  --text-title-h2:              #d79921;
  --text-title-h3:              #98971a;
  --text-title-h4:              #689d6a;
  --text-title-h5:              #458588;
  --text-title-h6:              #b16286;
  --inline-code:                #b48ead;
  --code-block:                 #b48ead;
  --pre-code:                   #0F1A21;
  --blockquote-border:          #e16162;
}

/***************************************/
/*      resize-handle                  */
/***************************************/

/*vertical resize-handle*/
.workspace-split.mod-vertical > * > .workspace-leaf-resize-handle,
.workspace-split.mod-left-split > .workspace-leaf-resize-handle, 
.workspace-split.mod-right-split > .workspace-leaf-resize-handle{
  width: 1px !important;
  background-color: var(--background-modifier-border);
}

/*horizontal resize-handle*/
.workspace-split.mod-horizontal > * > .workspace-leaf-resize-handle{
  height: 1px !important;
  background-color: var(--background-modifier-border);
}

/*workspace ribbon when collapsed*/
.workspace-ribbon.is-collapsed {
  background-color: var(--background-primary-alt);
}

/*the vertical split*/
.workspace-split.mod-root .workspace-split.mod-vertical .workspace-leaf-content,
.workspace-split.mod-vertical > .workspace-split,
.workspace-split.mod-vertical > .workspace-leaf{
  padding-right: 0px;
}

/**************************************/
/*        note header bar             */
/**************************************/

/* header */
.view-header {
  background-color: var(--background-primary) !important;   
  border-top: 1px solid var(--background-modifier-border) !important;
  border-bottom: 1px solid var(--background-modifier-border) !important;
}

.view-header-title-container:after {
  background: linear-gradient(to bottom, transparent, #004643) !important;
}

.workspace-leaf.mod-active .view-header {
  background-color: var(--background-secondary-alt) !important;  
  border-top: 1px solid var(--background-modifier-border) !important;
  border-bottom: 3px solid var(--background-modifier-border) !important;
}

.workspace-leaf.mod-active .view-header-title-container:after {
  background: linear-gradient(to bottom, transparent, #001e1d) !important;
}

/**************************************/
/*        background            */
/**************************************/

/*backlink pane*/
.workspace-leaf-content[data-type="backlink"] .view-content{
  background-color: var(--background-secondary);
}

/*status-bar*/
.status-bar{
  font-size: var(--font-size-status-bar);
  background-color: var(--background-secondary-alt);
  border-top: 1px solid var(--background-modifier-border);
}

/*************************************/
/*                tags               */
/*************************************/

/* Tag hover in preview */
a.tag:hover {
  color: var(--text-accent) !important;
}

/* Tag Color in editor and preview*/
.cm-hashtag, a.tag {
  color: var(--text-accent-hover) !important;
  text-decoration: none !important;
}

/*********************************/
/*             link              */
/*********************************/

/* link */
a,
.internal-link,
.cm-hmd-internal-link,
.cm-link,
.cm-formatting-link,
.cm-url {
  text-decoration: none !important;
}

/* the url string in editor */
.cm-s-obsidian span.cm-string{
  color: var(--text-accent-hover) !important;
}

/* make external links italics to differentiate */
a:not(.internal-link) {
  font-style: italic;
}

/***************************************/
/*             Hide Scrollbar          */
/***************************************/

/* Hide scrollbar in preview, search, file, tag, back links */
.markdown-preview-view::-webkit-scrollbar, 
.workspace-leaf-content::-webkit-scrollbar, 
.workspace-leaf-content[data-type = "backlink"] .view-content::-webkit-scrollbar, 
.search-result-container::-webkit-scrollbar,
.nav-files-container::-webkit-scrollbar,
.tag-pane-tags::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for editor*/
.CodeMirror-vscrollbar {
  display: none !important;
}

/***************************************/
/*                Cursor               */
/***************************************/

/* Cursor color and opacity */
.CodeMirror-cursor
{
    opacity: 60% !important;
}

/**************************************/
/* basic format in EDITOR and PREVIEW */
/**************************************/

/* normal text outside of headings and code of editor */
.cm-s-obsidian, .mod-single-child .cm-s-obsidian {
  font-family: var(--font-family-editor);
  font-size: var(--font-size-normal);
  padding-left: 1% !important;
  padding-right: 1% !important;
}

/* normal text outside of headings and code of preview */
.markdown-preview-view, .mod-single-child .markdown-preview-view {
  font-family: var(--font-family-editor);
  font-size: var(--font-size-normal);
  padding-left: 2% !important;
  padding-right: 1% !important;
}

/* bold in preview and editor */
strong, .cm-strong {
  font-weight: 600;
}

/* emphasis in preview and editor */
em, .cm-em {
  color: var(--text-muted);
  font-style: italic;
}

/* strikethrough in preview and editor */
s, .cm-strikethrough {
  color: var(--text-muted);
}

/* list in editor */
.cm-s-obsidian span.cm-formatting-list {
  color: var(--text-normal) !important;
}

/* horizontal line in preview */
.markdown-preview-view hr {
  background-color: var(--text-faint) !important;
}

/* embedded images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* img hover zoom out img*/
img:hover {
  transform: scale(1.04);
  transition: transform 0.25s ease-in-out 0s;
}

/*********************************/
/* Headings - EDITOR and PREVIEW */
/*********************************/


/* headings for editor and preview */
.cm-header-1, .markdown-preview-view h1
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: var(--font-size-h1);
  color: var(--text-title-h2);
}

.cm-header-2, .markdown-preview-view h2
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: var(--font-size-h2);
  color: var(--text-title-h2);
}

.cm-header-3, .markdown-preview-view h3
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: var(--font-size-h3);
  color: var(--text-title-h2);
}

.cm-header-4, .markdown-preview-view h4
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: var(--font-size-h4);
  color: var(--text-title-h2);
}

.cm-header-5, .markdown-preview-view h5
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: var(--font-size-h5);
  color: var(--text-title-h2);
}

.cm-header-6, .markdown-preview-view h6
{
  font-family: var(--font-family-editor);
  font-weight: 500;
  font-size: var(--font-size-h6);
  color: var(--text-title-h2);
}

/***************************************/
/*         Code block in  Preview      */
/***************************************/

/* code blocks in preview */
pre code {
  font-family: monaco !important;
  font-size: var(--font-size-code) !important;
  padding: 6px !important;
  line-height: normal;
  display: block;
  color: var(--code-block)  !important;
}

/* padding of code blocks in preview */
.markdown-preview-view pre {
  padding: 0px !important;
}

/* font-size of in-line block for preview */
.markdown-preview-view code
{
  font-size: var(--font-size-code);
}

/* in-line block for preview */
code{
  background-color: var(--pre-code) !important;
  color: var(--inline-code) !important;
  bottom: 0px !important;
}

/* remove the shadow that typically affect light mode */
.theme-dark code[class*="language-"],
.theme-dark pre[class*="language-"],
.theme-light code[class*="language-"],
.theme-light pre[class*="language-"]
{
    text-shadow: none !important;
    color: var(--text-faint) !important;
    background-color: var(--pre-code);
}

/***************************************/
/*       Code block in Editor          */
/***************************************/

/* in-line block for editor */
.cm-inline-code {
  background-color: var(--pre-code) !important;
  color: var(--inline-code) !important;
  bottom: 0px !important;
}

 /* Editor CodeBlock TEXT Appearance */
.cm-s-obsidian pre.HyperMD-codeblock {
  font-family: monaco !important;
  font-size: var(--font-size-code) !important;
  padding: 1px !important;
  display: block;
  background-color: var(--pre-code);     
  color: var(--code-block) !important;
  font-weight: 500;
}

/***************************************/
/*              Brackets               */
/***************************************/

.cm-s-obsidian span.cm-formatting-link {
  color: var(--text-accent) !important;
}

/***************************************/
/*             Blockquote              */
/***************************************/

/* for editor */
.cm-quote {
  color: var(--text-faint) !important;
}

/* for preview */
.markdown-preview-view blockquote {
  background-color: var(--background-secondary);
  border: 0px solid;
  border-color: var(--blockquote-border) !important;
  border-left-width: 3px !important;
  border-radius: 0 8px 8px 0;
  line-height: 1.5em;
  margin: 0 10px;
}

/***************************************/
/*             table                   */
/***************************************/

th {
  font-weight: 800 !important;
}

.markdown-preview-view th {
    font-weight: 800;
    background-color: var(--background-secondary) !important;
}

thead {
  border-bottom: 3px solid var(--background-modifier-border);
}

.table {
  padding: 4px;
  line-height: normal;
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/***************************************/
/*               Checkbox              */
/***************************************/

.markdown-preview-view .task-list-item-checkbox:checked::before {
  content: '✓';
  position: absolute;
  color: var(--text-accent);
  font-size:1em;
  line-height: 1.25em;
  width:1.2em;
  text-align:center;
  text-shadow: 0 0 0.1em var(--text-accent);
}

.markdown-preview-view .task-list-item-checkbox {
  -webkit-appearance: none;
  top: 0.2em !important;
  right: 4px;
  box-sizing: border-box;
  border: 1px solid  var(--text-muted);
  position: relative;
  width: 1.25em;
  height: 1.25em;
  margin: 0;
  box-shadow: 0 0 0.1em var(--text-muted);
}

.checkbox-container {
    background-color: var(--background-primary);
}

/***************************************/
/*           html in editor            */
/***************************************/

/* html tags in editor */
.cm-s-obsidian span.cm-tag {
  color: var(--inline-code) !important;
}

/* html attribute and string in editor */
.cm-s-obsidian span.cm-attribute {
  color: var(--text-normal) !important;
}

/* html comments in editor */
.cm-s-obsidian span.cm-comment {
  color: var(--text-faint) !important;
}

/***************************************/
/*      notice and popover             */
/***************************************/

.popover{
  border: 1px solid var(--background-modifier-border);
  background-color: var(--background-secondary);
}

/***************************************/
/*            Side panel               */
/***************************************/

/* search result in backlink or file search */
.search-result-file-title {  
  font-size: var(--font-size-side-dock-title) ;
}

.nav-file-title, .nav-folder-title {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.search-result-file-matches {
  font-size: var(--font-size-side-dock);
}
/***************************************/
/* internal embedded link in preview   */
/***************************************/

/* Naked Embeds */
.markdown-embed-title { display: none; }
.markdown-preview-view .markdown-embed-content>:first-child { margin-top: 0; }
.markdown-preview-view .markdown-embed-content>:last-child { margin-bottom: 0; }
/*remove the following two line, you will get border and scroll*/
.markdown-preview-view .markdown-embed { border:none; padding:0; margin:0; }
.markdown-preview-view .markdown-embed-content { max-height: unset;}

/* the link on the top right corner*/
.markdown-embed-link {
color: var(--text-accent) !important;
}

.markdown-embed-link:hover {
color: var(--text-accent-hover) !important;
}

/***************************************/
/*             graph view              */
/***************************************/
.graph-view.color-circle,
.graph-view.color-fill-highlight,
.graph-view.color-line-highlight
{
    color: var(--text-accent) !important;
}
.graph-view.color-text
{
    color: var(--text-normal) !important;
}

.graph-view.color-line {
    color: var(--text-accent-hover);
}

.graph-view.color-fill{
    color: var(--text-muted);
}

.workspace-leaf-content[data-type = "graph"] .view-content{
  background-color: var(--background-secondary);
}
